Package: ironpython
Version: {xxx}
Priority: optional
Architecture: all
Depends: mono-runtime (>=5.12), libmono-posix4.0-cil (>=5.12)
Section: python
Maintainer: IronPython <official.ironpython@gmail.com>
Description: Implementation of the Python 2.7 language 
 on the .NET Framework (IRON -> Implementation Runs on .NET). 
